* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: columns;
}

.container-header, .container-footer {
    border: 1px solid black;
    display: flex;
}

#canvasSlide {
    min-height: 100%;
}